html {
    height: 100%;
}

body {
    background-color: rgba(125, 0, 62, 0.486);
    background-image: url(images/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}




.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header  {
    background-color: rgba(0, 0, 0, 0);
    height: 118px;
    text-align: center;
}

.logo {
    height: 80px;
    margin-top: 10px;
}

nav  {
    background-color: rgba(125, 0, 62, 0.486);
    /* height: 40px; */
    text-align: center;
    padding-top: 11px;
    padding-bottom: 11px;
}

 nav a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

 nav a:hover {
    font-size: 15px;
    
}

main  {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

footer  {
    background-color: rgba(125, 0, 62, 0.486);
    text-align: center;
    margin-top: 50px;
}

.pfooter {
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}


.maps {
    padding-top: 50px;
    padding-bottom: 50px;
}
/* <!-- popup --> */
@import "http://fonts.googleapis.com/css?family=Raleway";
/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color: rgba(125, 0, 62, 0.486);
overflow:auto;

}

img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
div#popupContact {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family: Arial, Helvetica, sans-serif;
}

#popup:hover {
    font-size: 20px;
}

form {
max-width:300px;
min-width:250px;
padding:10px 50px;
border:2px solid rgba(125, 0, 62, 0.486);
border-radius:10px;
font-family:Arial, Helvetica, sans-serif;
background-color: rgb(125, 0, 62);
}

p {
margin-top:30px
}
h2 {
background-color:#FEFFED;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
hr {
margin:10px -50px;
border:0;
border-top:1px solid rgba(125, 0, 62, 0.486)
}
input[type=text] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}
#name {
background-image:url(../images/name.png);
background-repeat:no-repeat;
background-position:5px 7px
}
#email {
background-image:url(../images/email.jpeg);
background-repeat:no-repeat;
background-position:5px 7px
}
textarea {
background-image:url(../images/msg.png);
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #300018;
padding-left:40px;
font-size:16px;
font-family:raleway;
margin-bottom:30px
}
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:rgba(12, 125, 12, 0.315);
color:#fff;
border:1px solid #7D003E;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
span {
color:red;
font-weight:700
}
button {
width:auto;
height:35px;
border-radius:3px;
background-color: rgba(125, 0, 62, 0.486);
color:#fff;
border-color: rgba(125, 0, 62, 0.486);
font-family: Arial, Helvetica, sans-serif;
font-size:18px;
cursor:pointer
}
/* <!-- popup --> */

